<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let actv of actividades | keyvalue" [routerLink]="['/infoactividad', actv.value.id]">
    <img [src]="actv.value.img" />
    <ion-card-content>
        <ion-card-title>
            {{actv.value.titulo}}
        </ion-card-title>
        <p>
            {{actv.value.texto_breve}}
        </p>
    </ion-card-content>
</ion-card>
  
</ion-content>
