<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hotelia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let task of portada">

  <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide *ngFor="let banner of task | keyvalue">
      <ion-img [src]="banner.value.img"></ion-img>
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col class="features" text-center>
        <fa-icon icon="wifi"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

      <ion-col class="features" text-center>
        <fa-icon icon="tv"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="features" text-center>
        <fa-icon icon="wifi"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

      <ion-col class="features" text-center>
        <fa-icon icon="tv"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="features" text-center>
        <fa-icon icon="wifi"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

      <ion-col class="features" text-center>
        <fa-icon icon="tv"></fa-icon>
        <h3>Wifi Gratis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="paralax">
        <div class="overlay">
            <div>
                <h4>BEAUTIFUL LUXURY ROOM</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In maxime quod eos</p>
            </div>
        </div>
    </div>

    <ion-card *ngFor="let actv of actividades | keyvalue" [routerLink]="['/infoactividad', actv.value.id]">
        <img [src]="actv.value.img" />
        <ion-card-content>
            <ion-card-title>
                {{actv.value.titulo}}
            </ion-card-title>
            <p>
                {{actv.value.texto_breve}}
            </p>
        </ion-card-content>
    </ion-card>

    <footer text-center>

        <div class="redes">
            <a href="https://es-es.facebook.com/"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a>
            <a href="#twitter"><fa-icon  [icon]="['fab', 'twitter']"></fa-icon></a>
            <a href="#instagram"><fa-icon  [icon]="['fab', 'instagram']"></fa-icon></a>
        </div>

        <p class="telefono">
            <a href="tel:928123456">
                <fa-icon icon="phone"></fa-icon> 928 123 456
            </a>
        </p>
        <p class="telefono">
            <a href="mailto:info@hotelia.com?Subject=Necesito%20información">
              <fa-icon icon="envelope"></fa-icon> 928 123 456
            </a>
        </p>

        <div class="linea_pie"></div>

        <p class="copyright">Copyright © 2019 All Rights Reserved</p>

    </footer>

</ion-content>
